.form {
  text-align: right;
}

.form button {
  border: none;
  cursor: pointer;
  background-color: #334f64d4;
  color: #DADCDF;
  font-family: "JetBrains Mono", monospace;
  padding: 5px 17px;
  border-radius: 4px;
}

.form button:hover,
.form button:active {
  background-color: #334f64;
}
.text{
  color: #ef4b4c;
  font-weight: 600;
}
