.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #334F64;
  padding: 1rem 0;
  margin: 1rem 0;
  font-family: "JetBrains Mono", monospace;
}

.cart-item h2 {
  margin: 0 0 1rem 1rem;
  color: #17181C;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  margin: 0 1rem;
  color: #346C8F;
  font-size: 17px;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 3px 10px;
  border-radius: 4px;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  width: 3rem;
  font-weight: 800;
  font-size: 17px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
  border: none;
  cursor: pointer;
  background-color: #334f64;
  color: #DADCDF;
  font-family: "JetBrains Mono", monospace;
  padding: 5px 17px;
  border-radius: 4px;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #4b7595;
}
